* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Karma";
    color: #FFFFFF;
}

:root {
    --cor1: #F2CDA0;
    --cor2: #730202;
}

body {
    background-color: #333;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    display: flex;
    max-width: 1600px;
    margin: auto;
    color: #FFFFFF;
}

header {
    
    padding: 2rem 0rem;
    margin-bottom: 3rem;
    animation: animateBox 2s ease-in-out infinite alternate;
}

span {
    font-size: 2rem;
    color: var(--cor1);

}
    
@keyframes animateBox {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #f2cda03a;
    }
}

ul {
    display: flex;
    gap: 2rem;
}

a {
    padding: 0.3rem 1rem;
    border-radius: 10px;
    color: var(--cor1);
}

a:hover {
    background-color: #161616;
}

input {
    color: #333;
    text-align: center;
}

input::placeholder {
    color: var(--cor2);
    
}

label {
    display: block;
}

button {
    background-color: #161616;
    padding: 0.2rem 1rem;
    border: 1px;
    border-radius: 8px;
    cursor: pointer;
}

select {
    color: var(--cor2);
}

option {
    color: var(--cor2);
}

h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

section.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 6rem;
}

div.caracteristicas{
    padding: 2rem 0px;
}

img {
    width: 800px;
    height: 800px;
}

section.finalizar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

strong {
    color: var(--cor1);
    display: block;
}

div.informacoes {
    padding-top: 4rem;
}
